
.home-textarea {
  padding: 32px !important;
}


.first-section {
  padding: 16px 0 0;
}

.section {
  padding: 8px 0 0;
}

.title-h-scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.slick-slider {
  padding-bottom: 25px;
}

.slick-dots {
  bottom: 0;
}

/* hiding all bullets by default */
.slick-dots li {
  transition: all 850ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  width: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}
.slick-dots li BUTTON::before {
  font-size: 4px;
}
.slick-dots li.slick-active-m3,
.slick-dots li.slick-active-m2,
.slick-dots li.slick-active-m1,
.slick-dots li.slick-active,
.slick-dots li.slick-active-p1,
.slick-dots li.slick-active-p2,
.slick-dots li.slick-active-p3 {
  font-size: 6px;
  width: 20px;
  margin: 0 5px;
}
.slick-dots li.slick-active BUTTON::before {
  color: #00B0DB;
}
.slick-dots li.slick-active-m2 BUTTON::before,
.slick-dots li.slick-active-m1 BUTTON::before,
.slick-dots li.slick-active-p1 BUTTON::before,
.slick-dots li.slick-active-p2 BUTTON::before {
  font-size: 6px;
}

.slick-dots li.slick-active BUTTON::before {
  font-size: 8px;
}

.slick-track{
  display: flex;

  .slick-slide{
    display: flex;
    height: auto;
    align-items: stretch; //optional
    justify-content: center; //optional
  }
}

.h-scroll-area {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
}