
.home-textarea {
  padding: 32px !important;
}


.first-section {
  padding: 16px 0 0;
}

.section {
  padding: 8px 0;
}

.title-h-scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: sticky;
  top: 56px;
  background-color: #fafafa;
  z-index: 1000;
  height: 40px;
}

.h-scroll-area {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
}
