
.home-textarea {
  padding: 32px !important;
}

.section {
  padding: 16px 0;
}

.title-h-scroll {
  padding: 0 16px;
}

.slick-slider {
  padding-bottom: 25px;
}

.slick-dots {
  bottom: 0;
}

.h-scroll-area {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
}