
.news-details {
  background-color: #fafafa;
  min-height: 100vh;
}

.news-details-img {
  width: 100%;
  padding-top: 70%;
  background-position: center;
  background-size: cover;
}

.news-details-textarea {
  padding: 32px;
}