.animated() {
  transition: all 850ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.fullscreen-appbar {
  background-color: transparent !important;
  z-index: 5001 !important;
  box-shadow: none !important;

  .grow {
    flex: 1;
  }

  .title {
    .animated();
    position: relative;
    font-size: 24px !important;
    text-align: center;
    top: -25px;
    opacity: 0;

    .animation-enter &, .animation-exit & {
      top: 0 !important;
      opacity: 1 !important;
    }

    .animation-enter-active & {
      top: -25px !important;
      opacity: 0 !important;
    }

    .frey {
      font-weight: lighter;
    }

    .raum {
      font-weight: bolder;
    }
  }

  .menu-button-container {
    position: relative;
  }

  .menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .menu, .login-button {
    .animated();
    top: -25px;
    opacity: 0;

    .animation-enter &, .animation-exit & {
      top: 0 !important;
      opacity: 1 !important;
    }

    .animation-enter-active & {
      top: -25px !important;
      opacity: 0 !important;
    }
  }

  .back-button {
    position: absolute !important;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 1;

    .animation-enter & {
      transition: all 850ms cubic-bezier(0.23, 1, 0.32, 1) 425ms !important;
      transform: rotate(-90deg);
      top: -50px !important;
      opacity: 0 !important;
    }

    .animation-enter-active & {
      transform: rotate(0deg) !important;
      top: 0 !important;
      opacity: 1 !important;
    }

    .animation-exit & {
      .animated();
      opacity: 0 !important;
    }
  }
}