
.news-item-container {
  display: inline-block;
  white-space: normal;
  padding: 4px 8px;
  min-width: 250px;
  max-width: 250px;
  @media (min-width: 600px) {
    min-width: 275px;
    max-width: 275px;
  }
  @media (min-width: 960px) {
    min-width: 325px;
    max-width: 325px;
  }
}

.news-item-card {
  height: 100%;
}